<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Package:</strong>
  <%= @order.package_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @order.member %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
