<p id="notice"><%= notice %></p>
<h1>hiiiiiiiiiii</h1>
<p>
  <strong>Image:</strong>
  <%= @place.image %>
</p>

<p>
  <strong>Place:</strong>
  <%= @place.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>City information:</strong>
  <%= @place.city_information_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
